<div  class="container">
    <div class="row">
        <div class="col-3">
            <button style="border: 0px;">
                <img src="/assets/sendAction.png" width="70px" height="80px">
            </button>
        </div>
        <div class="col-3">
            <button>
                <img src="/assets/receiveAction.png" width="70px" height="80px">
            </button>
        </div>
        <div class="col-3">
            <button>
                <img src="/assets/utilitiesAction.png" width="70px" height="80px">
            </button>
        </div>
        <div class="col-3">
            <button>
                <img src="/assets/statsAction.png" width="70px" height="80px">
            </button>
        </div>
    </div>
</div>
