<div class="container">
    <div class="row">
        <div class="col-3">
            <button style="border: 0px;">
                <img src="/assets/homeNav.png" width="70px" height="50px">
            </button>
        </div>
        <div class="col-3">
            <button>
                <img src="/assets/exchangeNav.png" width="70px" height="50px">
            </button>
        </div>
        <div class="col-3">
            <button>
                <img src="/assets/mapNav.png" width="70px" height="50px">
            </button>
        </div>
        <div class="col-3">
            <button>
                <img src="/assets/settingsNav.png" width="70px" height="50px">
            </button>
        </div>
    </div>
</div>