

.containerApp {
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(242, 242, 242);
    max-width: 350px;
    overflow: hidden;
}