
.container {
    .carousel {
        padding-top: 30px;
    }

    .actions {
        padding-top: 30px;
    }

    .row-transaction {

        .col-transaction {
            background-color: white;
            margin-top: 30px;
            border: 1px solid #EBEBEB;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
    }
    
}
